<form [formGroup]="finance">
  <mat-radio-group formControlName="applyTo">
    <mat-radio-button value="value1">Option1</mat-radio-button>
    <mat-radio-button value="value2">Option2</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <input matInput [matDatepicker]="dp3" placeholder="Input disabled" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 touchUi disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="description" value="value" formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="money" value="0" formControlName="dollarAmount">
  </mat-form-field>

  <mat-select placeholder="Placeholder" name="item" formControlName="category">
    <mat-option *ngFor="let item of items" [value]="item.value">
      {{item.viewValue}}
    </mat-option>
  </mat-select>
</form>
<button mat-flat-button>Off To The Races</button>